Binaries
DerivedDataCache
Intermediate
Saved
Content/KiteDemo
Content/ParagonProps
Content/SampleMap
Content/Lighting
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace